#one {
	background: url('imgs/icon.png') no-repeat -11px -16px;
	width: 32px;
	height: 33px;
}

#one:hover{

}

#two {
	background: url('imgs/icon.png') no-repeat -182px -17px;
	width: 33px;
	height: 32px;
}

#two:hover{

}

#footer{
    position: relative;
    background-color: aqua;
}